.hero h1 {
  color: #45B7DD;
  font-size: 36px;
}

.hero p {
  color: #5d9ed3;
  font-size: 18px;
}

.hero 
{
  background-color: #c2b280;
  padding: 80px 40px;
}
.hero a:hover
 {
   background-color: #2f8fb3;
}

.hero a {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background-color: #45B7DD;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}